[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/

[Ll]ibrary.meta
[Tt]emp.meta
[Oo]bj.meta
[Bb]uild.meta
[Bb]uilds.meta
[Ll]ogs.meta
[Mm]emoryCaptures.meta

.vs/
.vscode
.gradle/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

.DS_Store
Thumbs.db
Desktop.ini

*.apk
*.unitypackage
*.app
*.exe

Assets/Plugins/Editor/JetBrains*